.projects {
    background-color: #f8f8f8;
    padding: 6rem 0;
}

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    flex: 1;
}

.portfolio-description {
    flex: 1;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #c1a57b;
    transition: color 650ms;
}

.portfolio-description .cta:hover {
    color: #30475e;
}

.has-margin-right {
    margin-right: 5rem;
}

@media screen and (max-width: 768px) {
    .portfolio-item {
        flex-direction: column;
    }

    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description {
        margin: 0;
        order: 2;
    }

    .has-margin-right {
        margin-right: 0;
    }
}
